{% extends 'base.html' %}

{% block body %}
<body style = 'background-color: lightpink;'>
    <h1 style="font-family:'Sedan';"class="display-7">Here is your note reciept !</h1>
    <hr>
    <h1 style="font-family:'Sedan';"><a href="/notes"class="btn btn-success" role="button">view all your reminders !</a></h1>

{% if note %}
    <br>
    {% if note.author == current_user %}
        <a data-toggle="tooltip" data-placement="top" title="Delete Note" href="/note/delete/{{note.id}}">
            <img width="40" class="bottom-image" src="/static/delete.png">
        </a>
    {% endif %}
<div class="container text-center">
    <div class="row">
        <div class="col">
        <h3 style="font-family:'Sedan';"class="display-7">note: {{note.note}}</h3>
    </div>

    <div class="col">
        <img src="https://i.gifer.com/WiCB.gif"
        length="450"
        width="450">
    </div>
</div>
</body>

{% else %}

{% endif %}

{% endblock %}