<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<body style = 'background-color: lightpink;'>
<h1 style="font-family:'Didot';" class="text-center">✧･ﾟ: *✧･ﾟ:* overview ✧･ﾟ: *✧･ﾟ:*</h1>
<hr>

        <head>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
          <style>
          .jumbotron {
            background-color: #d8acc9;
            color: #fff;
            padding: 100px 25px;
          }
          .container-fluid {
            padding: 60px 50px;
          }
          .bg-grey {
            background-color: #f6f6f6;
          }
          .logo {
            font-size: 200px;
          }
          @media screen and (max-width: 768px) {
            .col-sm-4 {
              text-align: center;
              margin: 25px 0;
            }
          }
          </style>
        </head>
        <body>
        
        <div class="jumbotron text-center">
          <h1 style="font-family:'Didot';" class="text-center">stuffie organizer!</h1> 
          <p style="font-family:'Didot';" class="text-center">where we help you build organization habits</p> 
          <form class="form-inline">
            <div class="input-group"></div>
        </div>
        
        <!-- Container (About Section) -->
        <div class="mt-4 p-5 bg-danger text-white rounded" >
          <div class="row">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-8">
                <h2 style="font-family:'Didot';">why is staying organized important?</h2>
                <p style="font-family:'Didot';">organization is an important skill that everyone should have! not being organized can lead to increased levels of stress and a lower quality of life. so, we created this stuffie organizer to help people build good organization habits while being able to organize their stuffies!</p>
                <p style="font-family:'Didot';">you can start good organization skills by taking time out of your day to make sure things go where they belong. for example, if you see something in your room that isn't where it is supposed to be, you could put it away immediately instead of having it build up! another way you could stay organized in your day to day life is to use organization apps. you could start by just using the notes app in your phone to plan out things you need to do or your schedule for the day. trust us, when you start doing this, life becomes so much easier and you'll never miss anything!</p>
                <h1 style="font-family:'Didot';"> <a href="https://www.betterup.com/blog/organizational-skills"class="btn btn-success" role="button">learn more!</a></h1>
    
            </div>
            <div class="col-sm-4">
              <img src="https://i.gifer.com/JSS.gif"></span>
            </div>
          </div>
        </div>
          </div>
        </div>
        
        

        <h2 style="font-family:'Didot';" class="text-center">some organizational habits to add to your list!</h2>
        <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <br>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <h4 style="font-family:'Didot';" class="text-center">set goals for yourself<br><span>-kayle luu</h4>
            </div>
            <div class="item">
              <h4 style="font-family:'Didot';" class="text-center">communicate with yourself and others<br><span>-kathy liang</span></h4>
            </div>
            <div class="item">
              <h4 style="font-family:'Didot';" class="text-center">manage your time very wisely.<br><span>-jacob fohler</span></h4>
            </div>
          </div>
      <br>
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      
        
        <!-- Container (Services Section) -->
        <div class="container-fluid text-center">
          <div class="jumbotron text-center">
          <h2 style="font-family:'Didot';" class="text-center">prioritize these things in your life!</h2>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-4">
              <span class="glyphicon glyphicon-off"></span>
              <h4 style="font-family:'Didot';" class="text-center">POWER</h4>
            </div>
            <div class="col-sm-4">
              <span class="glyphicon glyphicon-heart"></span>
              <h4 style="font-family:'Didot';" class="text-center">LOVE</h4>
            </div>
            <div class="col-sm-4">
              <span class="glyphicon glyphicon-lock"></span>
              <h4 style="font-family:'Didot';" class="text-center">GET THE JOB DONE</h4>
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-sm-4">
              <span class="glyphicon glyphicon-leaf"></span>
              <h4 style="font-family:'Didot';" class="text-center">KEEP SOME TIME FOR YOURSELF</h4>
            </div>
            <div class="col-sm-4">
              <span class="glyphicon glyphicon-certificate"></span>
              <h4 style="font-family:'Didot';" class="text-center">GOALS</h4>
            </div>
            <div class="col-sm-4">
              <span class="glyphicon glyphicon-wrench"></span>
              <h4 style="font-family:'Didot": ; class="text-center">HARD WORK</h4>
            </div>
          </div>
        </div>

  </div>
</div>

</body>
</html>

        </body>
        </html>
        
</div>
</body>
                


 



{% endblock %}