<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<body style = 'background-color: lightpink;'>
<center><h1 style="font-family:'Sedan';" class="text-center">✧･ﾟ: *✧･ﾟ:* Overview ✧･ﾟ: *✧･ﾟ:*</h1></center>
<hr>
<div class="container text-center">
    <div class="row">
      <div class="col">
       <h4 style="font-family:'Sedan';">why is this important ?</h4>
       <p style="font-family:'Sedan';">hi</p>
      </div>
      <div class="col">
        <h4 style="font-family:'Sedan';">how to stay organized</h4>
        <p style="font-family:'Sedan';">hello</p>
</div>
</body>
                


 



{% endblock %}