{% extends 'base.html' %}

{% block body %}
<body style = 'background-color:pink;' style="font-family:'Sedan';">
<h1 style="font-family:'Sedan';" class="display-1">
    My Profile
</h1>
    <div class="col display-5">
        <p style="font-family:'Sedan';">{% if current_user.fname and current_user.lname %}
            Name: {{current_user.fname}}  {{current_user.lname}} <br>
        {% else %}
            Google User Name: {{current_user.gname}} <br>
        {% endif %}
        Email: {{current_user.email}} <br></p>
        <hr>
        <h1 style="font-family:'Sedan';"><a href="/stuffie/new"class="btn btn-success" role="button">enter stuffie !</a></h1>
        <h1 style="font-family:'Sedan';"><a href="/stuffie/list"class="btn btn-info" role="button">view collection</a></h1>
    </div>

</body>


{% endblock %}