{% extends 'base.html' %}

{% block body %}
<body style = 'background-color: #d8acc9;'>
<center><h1 style="font-family:'Sedan';">view your stuffie collection or <a href="/stuffie/new"class="btn btn-success" role="button">enter stuffie !</a></h1></center>
<hr>

   {% if stuffies %}
    {% for stuffie in stuffies %}
    {% if loop.index == 1 %}
    <div class="row border-bottom">
        <div class="col-2">
            <h4 style="font-family:'Sedan';"class="display-5"><center>name</center></h4>
        </div>
        <div class="col-2">
            <h4 style="font-family:'Sedan';"class="display-5"><center>type</center></h4>
        </div>
        <div class="col">
            <h4 style="font-family:'Sedan';"class="display-5"><center>brand    ｡:ﾟ૮ ˶ˆ ﻌ ˆ˶ ა ﾟ:｡</center></h4>
        </div>
    </div>
    {% endif %}
    {% if stuffie.author == current_user %}
        <div class="row">
            <div class="col-2">
                <a href="/stuffie/{{stuffie.id}}">
                <p style="font-family:'Sedan';"><center>{{stuffie.name}}</center></p>
                </a>
            </div>
            <div class="col-2">
                <!-- {% if loop.index == 1 %} -->
                <!-- {% endif %} -->
                <p style="font-family:'Sedan';"><center>{{stuffie.type}}</center></p>
            </div>
            <div class="col">
                <!-- {% if loop.index == 1 %} -->
                    <!-- <h4 style="font-family:'Sedan';"class="display-5"><center>brand    ｡:ﾟ૮ ˶ˆ ﻌ ˆ˶ ა ﾟ:｡</center></h4>
                    <hr> -->
                <!-- {% endif %} -->
                <p style="font-family:'Sedan';"><center>{{stuffie.brand}}</center></p>
            </div>
        </div>
    {% endif %}   
    </body>
    {% endfor %}
{% else %}

{% endif %}

{% endblock %}