{% extends 'base.html' %}

{% block body %}
<body style = 'background-color: lightpink;'>
{% if stuffie %}
    <br>
    {% if stuffie.author == current_user %}
        <a data-toggle="tooltip" data-placement="top" title="Delete Stuffie" href="/stuffie/delete/{{stuffie.id}}">
            <img width="40" class="bottom-image" src="/static/delete.png">
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Edit Stuffie" href="/stuffie/edit/{{stuffie.id}}">
            <img width="40" class="bottom-image" src="/static/edit.png">
        </a>
    {% endif %}
<center>
<h3 style="font-family:'Sedan';"class="display-7">name: {{stuffie.name}}</h3>
<br>
<h3 style="font-family:'Sedan';"class="display-7">type: {{stuffie.type}}</h3>
<br> 
<h3 style="font-family:'Sedan';"class="display-7">brand: {{stuffie.brand}}</h3>
</center>
</body>

    {% else %}

    {% endif %}

{% endblock %}