{% extends "base.html" %}

{% block body %}
<body style = 'background-color: lightpink;'>

        <center><h1 style="font-family:'Sedan';">add your stuffie !</h1> </center>
       <center> /ᐠ - ˕ -マ ૮ • ﻌ - ა ฅ՞•ﻌ•՞ฅ ₍˄•͈⚇•͈˄₎</center>
        <hr>
      
        <div class="text-center">
        <form method=post>
            {{ form.hidden_tag() }}
            <p style="font-family:'Sedan';">
             <br>
                {{ form.name.label }} <br>
                {{ form.name() }}
                <!--List the errors for this field-->
                {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p style="font-family:'Sedan';">
             <br>
                {{ form.type.label }} <br>
                {{ form.type() }}
                <!--List the errors for this field-->
                {% for error in form.type.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p style="font-family:'Sedan';">
            <br>
                {{ form.brand.label }} <br>
                {{ form.brand() }}
                <!--List the errors for this field-->
                {% for error in form.brand.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
             <p style="font-family:'Sedan';">
                {{form.submit()}}
            </p>
        </form>
        <img src="https://i.redd.it/fa7yzfkz14u71.gif"
            width="150"
            length="150">
    </div>
</body>
       
{% endblock %}
